@model Triskaidekaphobia_Cards.Models.MTGCardModel


<p>MCI Number: @Model.MCINumber</p>
<p>Multiverse ID: @Model.MultiverseID</p>
<p>Card ID: @Model.Id</p>
<img src=@Model.Image/>
<p>Type of Card: @Model.Layout</p>
<p>Number in set: @Model.Number</p>
<p>Set: @Model.SetCode</p>
<p>Card Name: @Model.Name</p>
<p>Converted Mana Cost: @Model.CMC</p>
<p>Mana Cost: @Model.ManaCost</p>
<p>Color Identity: @Model.ColorIdentity</p>
<p>Colors: @Model.Colors</p>
<p>Type: @Model.Type</p>
<p>Subtype: @Model.Subtype</p>
<p>Card Text: @Model.Text</p>
<p>Flavor Text: @Model.Flavor</p>
<p>Rarity: @Model.Rarity</p>
<p>Power/Toughness: @Model.Power / @Model.Toughness</p>
<p>Artist: @Model.Artist</p>
