@model Triskaidekaphobia_Cards.Models.MTGCardModel


<p>MCI Number: @Model.MCI_Number</p>
<p>Multiverse ID: @Model.Multiverse_ID</p>
<p>Card ID: @Model.Card_Id</p>
<img src=@Model.Image/>
<p>Type of Card: @Model.Card_Layout</p>
<<<<<<< HEAD
=======
<p>Set: @Model.Sets</p>
>>>>>>> 2aa6d6086d16e3e12f4ae6dba3626e82f82d8f8b
<p>Card Name: @Model.Card_Name</p>
<p>Converted Mana Cost: @Model.CMC</p>
<p>Mana Cost: @Model.Mana_Cost</p>
<p>Color Identity: @Model.Card_Color_Identity</p>
<p>Colors: @Model.Card_Colors</p>
<p>Type: @Model.Card_Type</p>
<p>Subtype: @Model.Card_Subtype</p>
<p>Card Text: @Model.Card_Text</p>
<p>Flavor Text: @Model.Flavor_Text</p>
<p>Rarity: @Model.Card_Rarity</p>
<p>Power/Toughness: @Model.Power / @Model.Toughness</p>
<p>Artist: @Model.Card_Artist</p>
