@model TriskaidekaphobiaLib.Models.MTGCard

@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>

<p>@ViewBag.Message</p>

@using (Html.BeginForm("SearchResult", "Home"))
{
    <div class="input-field">
        <label>Card Name - </label>
        @Html.TextBox("Name")
    </div>
    <div class="input-field">
        <label>Set Code - </label>
        @Html.TextBox("SetCode")
    </div>
    <div class="input-field">
        <label>Converted Mana Cost - </label>
        <div>
            @Html.RadioButton("LessGreaterEqual", "<", true)
            @Html.Label("<")
            <br />
            @Html.RadioButton("LessGreaterEqual", ">")
            @Html.Label(">")
            <br />
            @Html.RadioButton("LessGreaterEqual", "=")
            @Html.Label("=")
        </div>
        @Html.TextBox("CMC", "", new { @type = "number" })
    </div>
    <div class="input-field">
        <label>MCI Number - </label>
        @Html.TextBox("MCINumber", "", new { @type = "number" })
    </div>
    <div class="input-field">
        <label>Flavor Text - </label>
        @Html.TextBox("FlavorText")
    </div>
    <div class="input-field">
        <label>Power - </label>
        @Html.TextBox("Power")
    </div>
    <div class="input-field">
        <label>Toughness - </label>
        @Html.TextBox("Toughness")
    </div>
    <div class="input-field">
        <label>Rarity - </label>
        @Html.TextBox("Rarity")
    </div>
    <div class="input-field">
        <label>Card Layout - </label>
        @Html.TextBox("Layout")
    </div>
    <div class="input-field">
        <label>Card Type - </label>
        <label>Comma seperated list e.g. Artifact, Creature</label>
        @Html.TextBox("Type")
    </div>
    <div class="input-field">
        <label>Card Subtype - </label>
        <label>Comma seperated list e.g. Dinosuar, Fungus</label>
        @Html.TextBox("Subtype")
    </div>
    <div class="input-field">
        <label>Card Text - </label>
        @Html.TextBox("Text")
    </div>
    <div class="input-field">
        <label>Card Colors - </label>
        <label>Comma seperated list e.g. White, Black</label>
        @Html.TextBox("Color")
    </div>
    <div class="input-field">
        <label>Card Color Identity</label>
        <label>Comma seperated list e.g. White, Black</label>
        @Html.TextBox("ColorIdentity")
    </div>
    <div class="input-field">
        <label>Card Artist</label>
        @Html.TextBox("Artist")
    </div>
    <div>
        <input type="submit" />
    </div>
}