@model TriskaidekaphobiaLib.Models.MTGCardList

@{
    ViewBag.Title = "SearchResult";
}

<h2>Results</h2>

<p>"@Model" Results Found</p>

@{
    int i = 0;


    foreach (var card in Model.Cards)
    {
        if (i < 1000)
        {
            <hr>
            <table>
                <tr>
                    <td>
                        @i
                        @*<img src=@card.Image />*@
                    </td>
                    <td>
                        <p>

                            Card Name: @card.Name<br />
                            Mana Cost: @card.ManaCost<br />

                            Type: @card.Types<br />
                            Subtype: @card.Subtypes<br />
                            Card Text: @card.Text<br />
                            Rarity: @card.Rarity<br />
                            Power/Toughness: @card.Power / @card.Toughness<br />
                        </p>
                    </td>
                </tr>
            </table>

            <hr>
        }
        else
        {
            break;
        }
        i++;
    }
}