@model TriskaidekaphobiaLib.Models.MTGCard


<hr>
<table>
    <tr>
        <td>
            <img src=@Model.Image />
        </td>
        <td>
            <p>

                Card Name: @Model.Name<br />
                Mana Cost: @Model.ManaCost<br />

                Type: @Model.Types<br />
                Subtype: @Model.Subtypes<br />
                Card Text: @Model.Text<br />
                Rarity: @Model.Rarity<br />
                @if (Model.Toughness != null || Model.Power != null)
                {
                <p>Power/Toughness: @Model.Power / @Model.Toughness</p>
                }
                <br />
                </p>
            </td>
        </tr>
    </table>

    <hr>
