@model TriskaidekaphobiaLib.Models.MTGCard



<hr>
<table>
    <tr>
        <td>
            <img src=@Model.Image />
        </td>
        <td>
            <p>
                <b>Card Name:</b> @Model.Name<br />
                <b>Mana Cost:</b>@Model.ManaCost<br />
                <b>Type:</b>
                @foreach (string type in Model.Types)
                {
                    <span>@type</span>
                }
                <br />
                @if (Model.Subtypes.ElementAt(0) != "")
                {
                    <b>Subtype:</b>
                    foreach (string type in Model.Subtypes)
                    {
                        <span>@type</span>
                    }
                    <br />
                }
                @if (Model.Text != null)
                {
                    <b>Card Text:</b> @Model.Text<br />
                }
                <b>Rarity:</b>@Model.Rarity<br />
                @if (Model.Toughness != null || Model.Power != null)
                {
                    <b>Power/Toughness</b> @Model.Power <span>/</span> @Model.Toughness
                }
                <br />
            </p>
        </td>
    </tr>
</table>

<hr>
